/*Body*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  scroll-behavior: smooth;
}
body{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;  
    width: 100%;
}
/*General Type*/
.content {
    padding-top: 45px; 
    display: flex;   
    justify-content: center;
    align-items: center;
    height: auto;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #f5f5f5;
  margin: 0;
}
h1{
    text-align: center;
    color: #c51d34;
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 5px;
    animation: fadeUp linear;
    animation-timeline:view();
    animation-range: entry 0% cover 40%;
}
h3 {
    font-size: 30px;
    color: #f5f5f5;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}
h2 {
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #c51d34;
  margin: 0;
  text-align: center;
}
h4 {
    font-size: 28px;
    color: #f5f5f5;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}
a {
    text-decoration: none;
}
ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}
header{
    display: flex;
    width: 100%
}
.button-type1 {
    background-color:#c51d34;
    border: 2px solid #c51d34;
    display: flex;
    border-radius: 50px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f5f5f5;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    padding: 14px 10px 10px 14px;
}
.button-type2 {
    background-color: rgba(0, 0, 0, 0.0);
    display: flex;
    border: 2px solid #c51d34;
    border-radius: 50px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f5f5f5;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    padding: 14px 10px 10px 14px;
}


/*Nav Bar*/
nav {
    z-index: 100;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 60px;
    left: 0;
    right: 0;
}
nav ul {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #2e2e30;
    border: 2px solid #2e2e30;
    border-radius: 50px;
}
nav li {
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 15px 15px 15px 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: lightgrey;
}
nav a {
    z-index: 150;
    color: lightgrey;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    padding: 0 3px;
    letter-spacing: 0.4;
    transition: .3s;
}
nav  a::after {
    content: "";
    position: absolute;
    background-color: #c51d34;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}
nav a:hover,
nav a.active {
    color:#c51d34;
}
/*Mobile Navigation*/
.center-hamburger{
    z-index: 100;
    position: fixed;
    background-color: #2e2e30;
    display: none;
    width: 100%;
    height: 60px;
    justify-content: center;
    margin: 0;
    left: 0;
    right: 0;
}
.hamburger {
    background-color: #2e2e30;
    border: 2px solid #c51d34;
    border-radius: 50px;
    position:fixed;
    justify-content: center;
  display: none;
  flex-direction: column;
  gap: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 0 0 10px;
}

.hamburger span {
  display:block;
  width: 100%;
  height: 2px;
  justify-content: center;
  background: #fff;
  border-radius: 2px;
  transition: transform 0.35s ease, opacity 0.35s ease, background 0.3s ease;
  transform-origin: center;
}
.hamburger:hover span {
  background:#c51d34;
}
.hamburger.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}
.hamburger.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
/*  Mobile nav drawer */
.mobile-nav {
    position: fixed;
    z-index: 50;
  display: none;
    align-items: center;
    justify-content: center;
    background-color: #2e2e30;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  width: 100%;
  height: auto;
  margin-top: 59px;
  flex-direction: column;
  padding: 12px 0 12px 0;
  transform: translateY(-10px);
  opacity: 0;                                           
  pointer-events: none;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.35s ease;
}

.mobile-nav.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.mobile-nav a {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  width: 100px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  padding: 16px 20px;
  border-left: 3px solid transparent;
  transition: color 0.25s ease, border-color 0.25s ease, padding-left 0.25s ease;
}

.mobile-nav a.active {
  color: rgb(250, 100, 0);
  border-left-color: rgb(250, 100, 0);
}

/*Content Section*/
/*Home Page*/ 
.homesection{
    margin: 0px 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;
    width: 100%;
    flex-direction: row;
}
.introduction {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
}
.text-section h4::after {
    content: " Web Developer";
    color: #c51d34;
}
.text-section {
    text-align: left;
    display: flex;
    gap: 10px;
    margin: 0;
    flex-direction: column;
}
.text-section h3{
    animation: fadeUp 0.8s ease 0.3s both;
}
.text-section h2{
    text-align: left;
    animation: fadeUp 0.8s ease 0.6s both;
}
.text-section h4{
    animation: fadeUp 0.8s ease 0.8s both;
}
.ctasection {
    display: flex;
    flex: row;
    margin-top: 30px;
    margin-bottom: 10px;
    gap: 10px;
}
.ctabutton{
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    animation: fadeUp 0.8s ease 1s both;
}
.button-icon {
    filter: brightness(0) invert(1);
    width: 30px;
    height: auto;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap:  5px;
    animation: fadeUp 0.8s ease 1.2s both;
}
.account-link-icon {
    margin-top: 20px;
    filter: brightness(0) invert(1);
    width: 50px;
    height: auto;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.pic-image{
    display: flex;
    align-items: center;
}
.pic-image1 {
    margin-top: 20px;
    height: auto;
    display: flex;
    border: solid rgba(0, 0, 0, 0.0);
    border-radius: 40px;
    animation: fadeUp 1.4s ease 1.2s both;
}
@keyframes HomefadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}
/*About Page*/
.aboutsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 1300px;
}
.about-container {
    display: flex;
    background-color: rgba(46, 46, 48, 0.25);
    border: solid rgba(128,128,128, 0.25);
    border-radius: 30px;
    height: auto;
    animation: fadeUp linear;
    animation-timeline:view();
    animation-range: entry 0% cover 40%;
}
.aboutme {
    flex-direction: row;
    overflow: hidden;
    width: 95%;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 60px;
    margin-bottom: 50px;
}
.about-text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-text-section h3 {
    font-size: 18px;
    text-align: justify;
    line-height: 2;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.pic-image2 {
    width: auto;
    border: solid rgba(0, 0, 0, 0.0);
    border-radius: 30px;
}
/* Skills Section*/
.what-i-do {
    flex-direction: column;
    margin-bottom: 20px;
}
.what-i-do h2 {
    color: #f5f5f5;
    text-align: center;
}
.skill-part{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.prog-skill{
    display: flex;
    width: 500px;
    height: auto;
    flex-direction: column;
    padding-left: 15px;
}
.prog-skill-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.skill-icon-individual{
    justify-content: left;
    align-items: left;
    text-align: center;
}
.skill-icon-individual img {
    height: auto;
    filter: brightness(0) invert(1);
    margin-top: 10px;
}
    .vertical-line {
        border-left: 2px solid #f5f5f5;
        margin: 20px 20px; 
    }
.other-skill {
    width: 500px;
    padding-left: 15px;
    padding: 0;
}
.other-skill h4 {
    margin-top: 25px;
}

/*Project Section*/
.projects {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.individual-projects {
    display: flex;
    background-color: rgba(46, 46, 48, 0.25);
    border: solid rgba(128,128,128, 0.25);
    border-radius: 30px;
    height: auto;
    flex-direction: column;
    overflow: hidden;
    animation: fadeUp linear;
    animation-timeline:view();
    animation-range: entry 0% cover 40%;
}
.individual-projects img {
    display: flex;
    height: auto;
    flex-direction: column;
}
.project-descriptions {
    padding: 20px;
}
.project-descriptions h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.project-descriptions p {
    text-align: justify;
}
.tags {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding:10px;
}
.tags h4 {
    background-color: #c51d34;
    border-color: 1px solid #c51d34;
    border-radius: 5px;
    font-size: 12px;
    padding: 3px 8px 3px 8px;
    margin: 5px 0 5px 5px;
    box-sizing: border-box;
}
.individual-projects .button-type2 {
    width: 125px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    margin: 0 0 10px 10px;
    font-size: 20px;
}
/*Contact Section*/
.contactme {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 100px 10px;
    gap: 70px;
    justify-content: center;
    width: 100%;
}
.contact-account {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}
.contact-account h3 {
    animation: fadeUp linear;
    animation-timeline:view();
    animation-range: entry 0% cover 30%;
}
.individual-link-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    animation: fadeUp linear;
    animation-timeline:view();
    animation-range: entry 0% cover 30%;
}

.individual-link-container a{
    flex-direction: row;
    display: flex;
    width: 300px;
    background-color: rgba(46, 46, 48, 0.25);
    border: solid rgba(128,128,128, 0.25);
    border-radius: 30px;
    padding: 10px 0 10px 10px;
    gap: 15px;
    align-items: center;
}
.individual-link-container h4 {
    font-size: 20px;
}
.individual-link-container img {
    filter: brightness(0) invert(1);
    width: 50px;
    height: auto;
}
.contact-form {
    background-color: rgba(46, 46, 48, 0.25);
    border: solid rgba(128,128,128, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeUp linear;
    animation-timeline:view();
    animation-range: entry 0% cover 30%;
}
input, textarea {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(46, 46, 48, 0.25);
    border: solid rgba(128,128,128, 0.25);
    border-radius: 30px;
    height: 50px;
    color: #f5f5f5;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #f5f5f5;
    padding-left: 10px;
}
textarea {
    height: 130px;
    padding-top: 10px;
    margin-bottom: 10px;
}
 form .button-type2 {
    font-size: 20px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
 }
/*Scroll Animations*/
@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(40px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

 /*Phones*/
 @media screen and (min-width: 320px) and (max-width: 767px) {
    nav {
    display: none;
  }
.center-hamburger{
    display: flex;
}
  .hamburger {
    display: flex;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    padding-top: 70px;
}
  
h1{
    font-size: 45px;
}
h3 {
    font-size: 30px;
}
h2 {
  font-size: 45px;
}
h4 {
    font-size: 25px;
}
/*Nav Bar*/
nav  a::after {
    height: 3px;
}
/*Home Page*/ 
.text-section h2,h3,h4{
    text-align: center;
}
.homesection{
    flex-direction: column;
}
.ctasection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ctabutton{
    width: 175px;
    font-size: 18px;
}
.links{
    align-items: center;
    justify-content: center;
}
.pic-image1 {
    width: 80vw;
    max-width: 520px;
}

/*About Page*/
.about-container {
    width: 85vw;
    max-width: 570px;
}
.aboutme {
    flex-direction: column-reverse;
}
.about-text-section {
    width: 80vw;
    max-width: 500px;
}
.about-text-section h3 {
    font-size: 17px;
}
.pic-image2 {
    height: 70vw;
    max-height: 360px;
}
/* Skills Section*/
.skill-part{
    flex-direction: column;
}
.prog-skill{
    width: 75vw;
    flex-direction: column;
}
.prog-skill-container{
    display: flex;
    flex-direction: row;
    gap: 0px;
}
.prog-skill-container h4{
    display: flex;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.vertical-line {
    border-bottom: 2px solid #f5f5f5;
}
.skill-icon-individual img {
    width: 25vw;
    max-width: 120px;
}
.other-skill {
    width: 75vw;
    max-width: 480px;
}
.other-skill h4 {
    margin-top: 25px;
}

/*Project Section*/
.projects {
    flex-direction: column;
}
.individual-projects {
    width: 80vw;
    max-width: 520px;
}
.individual-projects img {
    width: 80vw;
    max-width: 520px;
}
.project-descriptions {
    height: 200px;
}
.project-descriptions p {
    font-size: 14px; 
}
/*Contact Section*/
.contactme {
    flex-direction: column;
}
.contact-account {
    gap: 10px;
    justify-content: center;
}
.contact-form {
    width: 90vw;
    max-width: 580px;
    height: 360px;
}
input, textarea {
    width: 75vw;
    max-width: 530px;
}
}


 /*Tablet & Laptop*/
 @media screen and (min-width: 768px) and (max-width: 1023px) {
h1{
    font-size: 44px;
}
h3 {
    font-size: 28px;
}
h2 {
  font-size: 40px;
}
h4 {
    font-size: 23px;
}
  .content {
    padding-top: 70px;
}
/*Home Page*/ 
.ctabutton{
    width: 140px;
    font-size: 14px;
}
.pic-image1 {
    width: 50vw;
    max-width: 440px;
}

/*About Page*/
.about-container {
    width: 90vw;
    max-width: 780px;
}
.about-text-section {
    width: 45vw;
    max-width: 430px;
}
.about-text-section h3 {
    font-size: 15px;
}
.pic-image2 {
    height: 30vw;
    max-height: 250px;
}
/* Skills Section*/
.prog-skill{
    width: 50vw;
    flex-direction: column;
}
.skill-icon-individual img {
    width: 120px;
}
.other-skill {
    width: 50vw;
}
.other-skill h4 {
    margin-top: 25px;
}

/*Project Section*/
.individual-projects {
    width: 30vw;
    border-radius: 25px;
    max-width: 280px;
}
.individual-projects img {
    width: 30vw;
    max-width: 280px;
}
.project-descriptions {
    height: 150px;
}
.project-descriptions p {
    font-size: 12px;
}
/*Contact Section*/
.contact-form {
    width: 45vw;
    height: 350px;
    max-width: 450px;
}
input, textarea {
    width: 40vw;
    max-width: 410px;
}
}

 /*Desktop & Laptop*/
 @media screen and (min-width: 1024px) and (max-width: 1440px) {
h1{
    font-size: 45px;
}
h3 {
    font-size: 30px;
}
h2 {
  font-size: 50px;
}
h4 {
    font-size: 28px;
}
/*Home Page*/ 
.ctabutton{
    width: 180px;
    font-size: 18px;
}
.pic-image1 {
    width: 45vw;
    max-width: 540px;
}

/*About Page*/
.about-container {
    width: 90vw;
    max-width: 1100px;
}
.about-text-section {
    width: 40vw;
    max-width: 500px;
}
.about-text-section h3 {
    font-size: 18px;
}
.pic-image2 {
    height: 300px;
}
/* Skills Section*/
.prog-skill{
    width: 500px;
    flex-direction: column;
}
.skill-icon-individual img {
    width: 120px;
}
.other-skill {
    width: 40vw;
    max-width: 480px;
    padding: 0;
}

/*Project Section*/
.individual-projects {
    width: 30vw;
    max-width: 400px;
    border-radius: 30px;
}
.individual-projects img {
    width: 30vw;
    max-width: 400px;
}
.project-descriptions {
    height: 120px;
}
.project-descriptions p {
    font-size: 14px;
}
/*Contact Section*/
.contact-form {
    width: 50vw;
    height: 360px;
    max-width: 620px;
}
input, textarea {
    width: 45vw;
    max-width: 570px;
}
}

 /* Larger Desktop*/
 @media screen and (min-width: 1441px){

}


