/*Body*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  scroll-behavior: smooth;
}
body{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;  
}
a {
    text-decoration: none;
}
ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}
header{
    display: flex;
    width: 100%
}
/*Nav Bar*/
nav {
    display: flex;
    position: fixed;
    justify-content: center;
    height: 60px;
    left: 0;
    right: 0;
}
nav ul {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #2e2e30;
    border: 2px solid #2e2e30;
    border-radius: 50px;
}
nav li {
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 15px 20px 15px 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: lightgrey;
}
nav a {
    color: lightgrey;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    padding: 0 3px;
    letter-spacing: 0.4;
    transition: .3s;
}
nav  a::after {
    content: "";
    position: absolute;
    background-color: #c51d34;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}
nav a:hover,
nav a.active {
    color:#c51d34;
}






.form-container { max-width: 400px; margin: auto; padding: 20px; }
input, textarea { width: 100%; padding: 10px; margin-top: 5px; }
button { width: 100%; padding: 10px; background-color: #04AA6D; color: white; border: none; }